extends ../layout

block content

  h1 Employees
  if logged_in
    p you have access to employees now
  if employees
    table.table.table-pattern
     thead
       tr
         th Employees id
         th Employee Name
         th Team
         th
     tbody
       for person in people
         tr
           td
             a(href='#')
           td= person.name
           td
              for team in person.teams
                p= team
           td
            a(href='#') delete


   div
   a(href='/employees/new') Add a new employee
